@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/ScotiaLayout.cshtml";
}



<br />

<div class="container">
    <center><h2 class="ScotiaNavText">Scotia Online</h2></center>
</div>

<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
            <tr>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>

                    <img src="~/images/Scotia/scotiaicon1.jpg" class=" img-responsive" width="304" height="240" />
                    <img src="~/images/Scotia/scotiaicon.jpg" class=" img-responsive" width="304" height="240" />
                </th>
            </tr>
            <tr>
                 </tr>
        </tbody>
    </table>
</div>
<br />

<div class="table-responsive">
    <table class="table table-borderless">
        <thead>
            <tr>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                 </tr>
            <tr>
                </tr>
        </tbody>
    </table>
</div>
<br />



