@{
    ViewData["Title"] = "Home Page";
}



    <br />

        <div class="container">
            <center><h2 class="quick">JPS LIVE </h2></center>
        </div>
        
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            
                        </th>
                        </tr>
                  
                </tbody>
            </table>
        </div>
        <br />

        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><img src="~/images/Scotia/jps1.jpg" class=" img-responsive" width="400" height="400" /></th>
                        
                        <th><img src="~/images/JPS.jpg" width="400" height="400" />  </th>
                    </tr>
                    <tr>
                         </tr>
                </tbody>
            </table>
        </div>
        <br />

        
        
